<header class="masthead mb-5 text-center">
  <div class="inner">
    <h3 class="masthead-brand">ПАРТФОЛИО</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Дом</a>
      <a class="nav-link" href="#">Фичи (нет)</a>
      <a class="nav-link" href="#">Позвони мне</a>
    </nav>
  </div>
</header>

<main role="main" class="inner cover">
  <router-outlet></router-outlet>
</main>

<footer class="mastfoot mt-auto text-center">
  <div class="inner">
    <p>
      Raimbeck corp. &copy;2019 - site is not responsive yet.
      <a href="mailto:job.gpolkmail@gmail.com?subject=Donate">Mailme</a>
    </p>
    <p>
      v1.0.0.0; All rights reserved.
      <a href="https://www.python.org/" target="blank">Licence</a>
    </p>
    <p>
      <a href="#">Link</a> to Batyrkhan's portfolio, Ah wait there is no such
      thing... (404)
    </p>
  </div>
</footer>
