<header class="masthead mb-5 text-center">
  <div class="inner">
    <h3 class="masthead-brand">ПАРТФОЛИО</h3>
    <nav id="navigation" class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="#roslyncompiler">Roslyn Compiler</a>
      <a class="nav-link" href="#auction">Auction</a>
    </nav>
  </div>
</header>

<main role="main" class="inner cover mt-3 mx-3 mb-5">
  <router-outlet></router-outlet>
</main>

<footer class="mastfoot mt-auto text-center">
  <div class="inner">
    <small class="d-block">
      Raimbeck corp. &copy;2019 - site is somewhat responsive...
      <a href="mailto:job.gpolkmail@gmail.com?subject=Donate">Donate</a>
    </small>
    <small class="d-block">
      v2.0.0.2; All rights reserved.
      <a href="https://www.python.org/" target="blank">Licence</a>
    </small>
    <small class="d-block">
      <a href="#">Link</a> to Batyrkhan's portfolio, Ah w8 there is no such
      thing... (404)
    </small>
  </div>
</footer>
